<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sampleapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleApplication"
        tools:targetApi="31">
        <activity
            android:name=".professor.IntructorHomePage"
            android:exported="false"
            android:label="@string/title_activity_intructor_home_page"
            android:theme="@style/Theme.SampleApplication.NoActionBar" />
        <activity
            android:name=".student.StudentHomePage"
            android:exported="false"
            android:label="@string/title_activity_student_home_page"
            android:theme="@style/Theme.SampleApplication.NoActionBar" />
        <activity
            android:name=".AllStudentsAttendence"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRGeneratorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructorOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructorEnrolledActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentAttendenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructorRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentEnrolledCoursesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfessorLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>